.header {

  &__content {
    grid-area: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.75rem;
    padding: 2rem 0 0 0 ;
  }
  
  &__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  &__page-links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  
  &__account-links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}