// Colors

// Main Colors

// Primary Colors
$clr-primary-color-election-night: #110320;
$clr-primary-color-fading-horizon: #442266;
$clr-primary-color-iris-royale: #591B98;

// Secondary Colors
$clr-secondary-color-neon-spring: #3FFD6A;

// Tertiary Colors
$clr-tertiary-color-star-dust: #F9F3DD;
$clr-tertiary-color-crackled: #F2E7D1;

// Shadows

// Gradients

// Neutrals
$clr-white: #FFFFFF;
$clr-black: #000000;

// Specific Colors
$clr-background: #FFFFFF;
